@using Test.Business.ViewModels.UserVMs
@model UserLoginVm
<div class="container" style="margin-top: 100px">
    <form method="post">
        <div class="form-group">
            <label asp-for="UsernameOrEmail">Username or Email</label>
            <input asp-for="UsernameOrEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email/username">
            <span asp-validation-for="UsernameOrEmail" style="color: red"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <span asp-validation-for="Password" style="color: red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>