@using Test.Business.ViewModels.UserVMs
@model UserRegisterVm
<div class="container" style="margin-top: 100px">
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter name">
            <span asp-validation-for="Name" style="color: red"></span>
            
        </div>
        <div class="form-group">
            <label asp-for="Surname">Surname</label>
            <input asp-for="Surname" class="form-control" placeholder="Enter surname">
            <span asp-validation-for="Surname" style="color: red"></span>

        </div>
        <div class="form-group">
            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" class="form-control" placeholder="Enter UserName">
            <span asp-validation-for="UserName" style="color: red"></span>

        </div>
        <div class="form-group">
            <label asp-for="Email">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <span asp-validation-for="Email" style="color: red"></span>

        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <span asp-validation-for="Password" style="color: red"></span>

        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <span asp-validation-for="ConfirmPassword" style="color: red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
